@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* WRAPPER */

.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    overflow: auto;
    background: linear-gradient(black, rgb(34, 34, 34))
}

/* NAVBAR */

.navbar {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-right {
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: right;
    margin-right: 20%;
}

.nav-link {
    list-style: none;
    transition: .2s;
    margin: 0px 25px;
}

.nav-link a {
    text-decoration: none;
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.nav-link a:hover {
    color: blueviolet;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-left img {
    margin-left: 10%;
    width: 40px;
    transition: .2s;
}

.nav-left img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* BANNER */

.banner {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#r {
    opacity: 0;
    animation: drop 0.2s linear forwards 0.2s;
    color: purple;
    padding: 0px 10px;    
    font-size: 80px;
}

#a {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.4s;
    padding: 0px 10px;
    font-size: 60px;
}

#s {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.6s;
    padding: 0px 10px;
    font-size: 60px;
}

#p {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
    padding: 0px 10px;    
    font-size: 60px;
}


@keyframes drop {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }
    25% {
        transform: translateY(-250px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
    
}

.banner-text {
    opacity: 0;
    animation: text-appear 0.2s linear forwards 1s;
    width: 50%;
    text-align: center;
}

@keyframes text-appear {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
 
    50% {
        transform: translateX(0);
        opacity: 1;
    }

    75% {
        transform: translateX(10px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}




.text {
    color: white;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    font-weight: bolder;
}

.text-lg {
    font-size: 30px;
}