* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-right {
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: right;
    margin-right: 20%;
}

.nav-link {
    list-style: none;
    transition: .2s;
    margin: 0px 25px;
}

.nav-link a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 20px;
}

.nav-link a:hover {
    color: blueviolet;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-left img {
    margin-left: 10%;
    width: 5%;
    transition: .2s;
}

.nav-left img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* BANNER */

.banner {
    height: 40vh;
}
