* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-right {
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: right;
    margin-right: 10%;
}

.nav-link {
    list-style: none;
    transition: .2s;
    margin: 0px 25px;
}

.nav-link a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 20px;
}

.nav-link a:hover {
    color: purple;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-left img {
    margin-left: 10%;
    width: 30px;
    transition: .2s;
}

.nav-left img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* BANNER */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: black;
}

.text {
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.text-lg {
    font-size: 30px;
}

.banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#f {
    opacity: 0;
    animation: drop 0.2s linear forwards 0.2s;
    color: purple;
    padding: 10px;    
    font-size: 80px;
}

#y {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.4s;
    color: white;
    padding: 10px;
    font-size: 60px;
}

#r {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.6s;
    color: white;
    padding: 10px;
    font-size: 60px;
}

#e {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
    color: white;
    padding: 10px;    
    font-size: 60px;
}

@keyframes drop {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }
    25% {
        transform: translateY(-250px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
    
}